PORT=5000

# Security
JWT_SECRET=your_jwt_secret_key_here
JWT_EXPIRES=1d

# Database (For Future MySQL Integration)
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=
DB_NAME=invonix

# SMTP / Email Setup
MAIL_HOST=smtp.mailtrap.io
MAIL_PORT=2525
MAIL_USER=your_mail_user
MAIL_PASS=your_mail_password
